* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

body {
    display: flex;
    height: 100vh; /* Garante que o body ocupe a altura total da tela */
}

aside {
    width: 10%;
    background-color: #146C94;

    display: flex;
    align-items: center;
    flex-direction: column;

    font-size: 15pt;
    gap: 4vh;
    padding-top: 7vh;
    /* height: 100%; */
}

.link_aside {
    text-decoration: none;
    color: white;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.link_aside:hover {
    background-color: #bde3f468;
}

.link_aside_selecionado {
    text-decoration: none;
    color: white;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #bde3f468;
}

.perfil {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}

.link_img_perfil {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_perfil {
    width: 100%;
}

.opções_usuario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5vh;
    width: 50%;
}

#email-usuario {
    font-size: 7pt;
    font-weight: 600;
}

#botao-logout {
    background-color: #bde3f468;
    border: none;
    width: 90%;
    border-radius: 10px;
}

#botao-logout:hover {
    cursor: pointer;
    background-color: #6cb1df;
    transition-duration: 0.3s;
}

/* Botão de confirmação (Sim, deslogar) */
.swal-confirm {
    background-color: #9CCDDB; /* Cor padrão */
    color: black; /* Cor do texto */
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.swal-confirm:hover {
    background-color: #6cb1df; /* Cor de hover */
}

/* Botão de cancelamento (Cancelar) */
.swal-cancel {
    background-color: #f08989; /* Cor padrão */
    color: black; /* Cor do texto */
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.swal-cancel:hover {
    background-color: #f86c6c; /* Cor de hover */
}

main {
    width: 90%;
    display: flex; /* Altera para flex */
    flex-direction: column; /* Para que a div de usuários seja uma coluna */
    align-items: center; /* Centraliza horizontalmente */
    background-color: #F6F1F1;
    padding-bottom: 2rem;
    overflow-y: auto;
}

.titulo_navegar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2%;
}

.titulo {
    color: black;
    font-weight: 500;
    font-size: 40pt;
}

.descricao_titulo {
    color: black;
    font-size: 15pt;
}

.usuarios {
    width: 85%;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card_usuario {
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.295);
    width: 12vw;
    height: 34vh;
    border-radius: 5%;
    padding: 5px;
}

.img_usuario {
    width: 190px;
    height: 190px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 2vh;
}

.txt_info_usuario {
    font-weight: 600;
    font-size: 11pt;
}

.infos_usuario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;
}

.nome, .area_atuacao {
    display: flex;
    align-items: center;
    gap: 2%;
}

.recebe_area, .recebe_nome {
    font-size: 10pt;
}

.mais_info_usuario {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
    height: 3vh;
}

.btn_mais_info {
    background: #9CCDDB;
    border: none;
    width: 60%;
    height: 100%;
    border-radius: 10px;
}

.btn_mais_info:hover {
    background: #6cb1df;
    cursor: pointer;
    transition-duration: 0.3s;
}

.card_infos_usuario {
    display: none; /* Escondido inicialmente */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: white;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.404);
    border-radius: 15px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.404);
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    gap: 4vh;

}

.card_infos_usuario .close-button {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

#campoInfo {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.404);
}

.topicos_infos {
    font-size: 12pt;
}

.recebe_infos {
    font-size: 9.6pt;
}

#recebe_info_sobre {
    text-align: justify;
}

.recebe_infos {
    text-align: justify;
    width: 90%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding-right: 4px;
}

.link_dowload_curriculo {
    color: black;
    text-decoration: none;
}

.link_dowload_curriculo:hover {
    text-decoration: underline;
    color: #6cb1df;
}

#area_titulo {
    width: 11.5vw;
}

.botao_interesse {
    background: #9CCDDB;
    border: none;
    width: 60%;
    height: 3vh;
    border-radius: 10px;
    font-size: 12pt;
    transition: background-color 0.3s ease;
}

.botao_interesse:hover {
    background: #6cb1df;
    cursor: pointer;
    transition-duration: 0.3s;
}

.botao_fechar {
    background: #9CCDDB;
    border: none;
    width: 60%;
    height: 3vh;
    border-radius: 10px;
    font-size: 12pt;
    transition: background-color 0.3s ease;
}

.botao_fechar:hover {
    background: #6cb1df;
    cursor: pointer;
    transition-duration: 0.3s;
}

@media (max-width: 1366px) {
    aside {
        width: 15%; /* Aumenta a largura para compensar tela menor */
        font-size: 14pt; /* Reduz um pouco o tamanho da fonte */
        gap: 3vh;
    }

    .perfil {
        width: 100%; /* Largura total para centralizar bem */
        gap: 1vw;
    }

    #email-usuario {
        font-size: 6pt; /* Ajusta a fonte para menor resolução */
    }

    main {
        width: 85%; /* Reduz a largura do main */
        padding-bottom: 1.5rem;
    }

    .titulo {
        font-size: 35pt; /* Reduz título para se adequar melhor */
    }

    .descricao_titulo {
        font-size: 13pt; /* Ajuste para manter legibilidade */
    }

    .usuarios {
        grid-template-columns: repeat(3, 1fr); /* Reduz número de colunas */
        gap: 15px; /* Diminui o espaçamento */
    }

    .card_usuario {
        width: 15vw; /* Ajusta largura dos cartões */
        height: 46.7vh;
        padding: 4px;
    }

    .txt_info_usuario {
        font-size: 10pt; /* Menor tamanho de texto */
    }

    .recebe_area, .recebe_nome {
        font-size: 9pt; /* Ajuste do tamanho de fonte */
    }

    .card_infos_usuario {
        width: 30vw; /* Expande para facilitar leitura */
        gap: 3vh;
    }

    .topicos_infos {
        font-size: 10pt;
    }

    .recebe_infos {
        font-size: 8.6pt;
    }

    .botao_interesse, .botao_fechar {
        font-size: 10pt; /* Ajusta fonte dos botões */
        width: 70%; /* Um pouco mais largo */
    }
}